<!DOCTYPE html>
<html>
  <head>
    <title>Oas rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <!-- Important: rapi-doc uses utf8 characters -->
    <script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
  </head>
  <body>
    <rapi-doc 
      spec-url = "<%= main_app.oas_rails_path %>.json" 
      theme = "dark" 
      bg-color="#0F172A"
      text-color= "#f7f7f7" 
      show-header = 'false'
      primary-color = "#2de410"
      font-size="largest"
      show-method-in-nav-bar="as-colored-text"
      nav-text-color="#f7f7f7"
      nav-item-spacing="relaxed"
      allow-spec-file-download="true"
      > 
    </rapi-doc>
  </body>
</html>
